<header>
  <nav>
    <a href="/" class="home">bvalosek.com</a>
  </nav>

  <div class="container">
    <div class="portrait">
      <img src="img/circle-portrait-512.png" alt="My FACE">
    </div>

    <div class="title">
      <h1>Brandon Valosek</h1>
      <p class="tagline">
        Frontier Javascript Cowboy
      </p>
    </div>
  </div>
</header>

<main>
  <div class="info bio">
    <div class="container">
      <div class="big-icon">
        <i class="fa fa-cogs"></i>
      </div>
      <div class="copy">
        I'm a full-stack software developer living in Austin,
        Texas trying to change the world&mdash;one line of code
        at a time.
      </div>
      <div class="itty">
        Front-end development in modern MV*
        <a href="https://github.com/bvalosek/robo">Javascript</a>
        + HTML5/CSS3, asynchronous fun on the server with
        <a href="https://github.com/bvalosek/infusionsoft-api">NodeJS</a>,
        and organized, object-oriented
        <a href="https://github.com/bvalosek/custom-post-type">PHP 5.3+</a>.
      </div>
    </div>
  </div>

  <div class="info code">
    <div class="container">
      <div class="big-icon">
        <i class="fa fa-github"></i>
      </div>
      <div class="copy">
        Writing open-source software is a hobby of mine. It
        gives me a chance to sharpen my craft and allows me to
        <strong>always be creating</strong>.
      </div>
      <div class="itty">
        I post my code on
        <a href="https://github.com/bvalosek">GitHub</a>.
        Check it out, fork a repo, open an issue. Get crazy.
      </div>
    </div>
  </div>
</main>

<footer>
  <div class="container">
      <div class="addy">
        bvalosek.com
      </div>
      <div class="copyright">
        &copy; 2014 Brandon Valosek
        &lt;<a class="email" href="mailto:bvalosek@gmail.com">bvalosek@gmail.com</a>&gt;</span>
    </div>
    <div class="social">
      <ul>
        <li>
          <a href="http://www.twitter.com/bvalosek"><i class="fa fa-twitter"></i></a>
        </li>
        <li>
          <a href="https://github.com/bvalosek"><i class="fa fa-github"></i></a>
        </li>
        <li>
          <a href="http://www.linkedin.com/in/bvalosek"><i class="fa fa-linkedin"></i></a>
        </li>
        <li>
          <a href="http://instagram.com/bvalosek"><i class="fa fa-instagram"></i></a>
        </li>
        <li>
          <a href="http://pinterest.com/bsting717/"><i class="fa fa-pinterest"></i></a>
        </li>
      </ul>
    </div>
    <div class="version">
      <span>{{ version }}</span>
    </div>
  </div>
</footer>

