<header>
  <h1>Brandon Valosek</h1>
  <h2>Frontier Javascript Cowboy</h2>
</header>
<div class="social">
  <ul>
    <li>
      <a href="http://www.twitter.com/bvalosek"><i class="fa fa-twitter"></i></a>
    </li>
    <li>
      <a href="https://github.com/bvalosek"><i class="fa fa-github"></i></a>
    </li>
    <li>
      <a href="http://www.linkedin.com/in/bvalosek"><i class="fa fa-linkedin"></i></a>
    </li>
    <li>
      <a href="http://instagram.com/bvalosek"><i class="fa fa-instagram"></i></a>
    </li>
  </ul>
</div>
<footer>
</footer>
